---
// Fichier généré automatiquement avec Framer Builder (Astro)
import Layout from '../layouts/Layout.astro';

const title = "Home";
---

<Layout title={title}>
  <div data-fid="iypixfqtgu" class="page-root-iypixfqtgu">
        <div data-fid="77pvby76u9" class="stack-77pvby76u9">
          <div data-fid="e6y9wqcidn" class="stack-e6y9wqcidn">
            <div data-fid="5kcewnv8b8" class="stack-5kcewnv8b8">
              <p data-fid="xt6k328m8e" class="text-xt6k328m8e">Eiusmod consequat ut in commodo labore non irure commodo.</p>
              <p data-fid="7mdam3txec" class="text-7mdam3txec">Proident pariatur cillum cillum id ipsum. Magna officia velit culpa sint esse dolor quis ut ipsum Lorem Lorem consectetur qui. Exercitation consequat minim sint elit pariatur aute occaecat et commodo cillum magna laborum aute. Amet laboris labore tempor reprehenderit adipisicing duis.</p>
            </div>
            <div data-fid="c5c3y7ufzy" class="saut-c5c3y7ufzy">
              <img src="/assets/images/Qt33JdkjRc/original.webp" srcset="/assets/images/Qt33JdkjRc/640.webp 640w, /assets/images/Qt33JdkjRc/1200.webp 1200w, /assets/images/Qt33JdkjRc/1920.webp 1920w" sizes="(max-width: 640px) 640px, (max-width: 1200px) 1200px, 1920px" alt="" style="width:100%; height:100%; object-fit:cover; display:block;" />
            </div>
          </div>
        </div>
        <div data-fid="fdv8iwecua" class="stack-fdv8iwecua">
          <div data-fid="tnn387gjbf" class="stack-tnn387gjbf">
            <div data-fid="6b549tzc7x" class="saut-6b549tzc7x">
              <img src="/assets/images/Qt33JdkjRc/original.webp" srcset="/assets/images/Qt33JdkjRc/640.webp 640w, /assets/images/Qt33JdkjRc/1200.webp 1200w, /assets/images/Qt33JdkjRc/1920.webp 1920w" sizes="(max-width: 640px) 640px, (max-width: 1200px) 1200px, 1920px" alt="" style="width:100%; height:100%; object-fit:cover; display:block;" />
            </div>
            <div data-fid="ypt552nj46" class="stack-ypt552nj46">
              <p data-fid="niz3ps9ypy" class="text-niz3ps9ypy">Eiusmod consequat ut in commodo labore non irure commodo.</p>
              <p data-fid="fhyxjhqqmq" class="text-fhyxjhqqmq">Proident pariatur cillum cillum id ipsum. Magna officia velit culpa sint esse dolor quis ut ipsum Lorem Lorem consectetur qui. Exercitation consequat minim sint elit pariatur aute occaecat et commodo cillum magna laborum aute. Amet laboris labore tempor reprehenderit adipisicing duis.</p>
            </div>
          </div>
        </div>
  </div>
</Layout>

<style is:global>
.page-root-iypixfqtgu {
  container-name: page-root;
  container-type: inline-size;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: fit-content;
  background: #ffffff;
  margin: 0 auto;
  overflow: visible;
}

.stack-77pvby76u9 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  height: fit-content;
}

.stack-e6y9wqcidn {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  height: fit-content;
  max-width: 1140px;
}

.stack-5kcewnv8b8 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  height: fit-content;
  min-width: 250px;
}

.text-xt6k328m8e {
  width: fit-content;
  height: fit-content;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #0a0a0a;
}

.text-7mdam3txec {
  width: fit-content;
  height: fit-content;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #0a0a0a;
}

.saut-c5c3y7ufzy {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  height: 341px;
  min-width: 250px;
  min-height: 60vh;
  background: #e4e4e7;
}

.stack-fdv8iwecua {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  height: fit-content;
}

.stack-tnn387gjbf {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  height: fit-content;
  max-width: 1140px;
}

.saut-6b549tzc7x {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  height: 341px;
  min-width: 250px;
  min-height: 60vh;
  background: #e4e4e7;
}

.stack-ypt552nj46 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  height: fit-content;
  min-width: 250px;
}

.text-niz3ps9ypy {
  width: fit-content;
  height: fit-content;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #0a0a0a;
}

.text-fhyxjhqqmq {
  width: fit-content;
  height: fit-content;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #0a0a0a;
}

@container page-root (max-width: 809px) {
  .stack-fdv8iwecua {
    background: #ff0000 !important;
  }
}
</style>
